* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body.desktop {
    overflow: hidden;
}

body.mobile {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}

.article {
    will-change: transform;
}

#intro {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    will-change: opacity;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5em;
    font-size: 30px;
    font-family: "Source Sans Pro", sans-serif;
    animation: fadeOut ease-out 3.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#intro .t1 {
    animation: fadeOut ease-out 3s;
    font-weight: 200;
    color: #303030;
}

#intro .t2 {
    font-weight: 100;
    color: firebrick;
}

canvas {
    z-index: 1;
    position: absolute;
}

.hidden {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 150px;
    color: #303030;
    animation: fade-in 3s 2.5s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.article {
    animation: fade-in 8s 2.5s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


h1 {
    margin: 14px 0 0 20px;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    font-weight: 100;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.2em;
    padding-top: 6px;
    padding-left: 20px;
    font-weight: 100;
}

.article-scrollbar {
    display: none !important;
}

.article {
    font-size: 15px;
    letter-spacing: 1px;
    width: 760px;
    z-index: 101;
    position: relative;
    top: 14px;
    right: 20px;
    bottom: auto;
    padding: calc(40vh - 28px) 0 calc(50vh - 28px) 20vw;
}

.article p {
    padding: 20px 0;
    line-height: 24px;
}

.article p a {
    text-decoration: underline;
}

.article a {
    /*color: #fff;*/
    text-decoration: none;
}


#contact {
    position: fixed;
    right: 20px;
    bottom: 14px;
    color: #2B2B2B;
    font-size: 0;
    /*letter-spacing: 0.8px; !*comment out this to make contact links straight*!*/
    font-family: "Poppins", sans-serif;
    padding: 10px;
    z-index: 110;
}

#contact a {
    display: inline-block;
    font-size: 15px;
    color: #2B2B2B;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
}